# OPTIONAL Used for ball probe to set offsets

# Original written by Viesturs Zarins

[gcode_macro _CALIBRATION_SWITCH]
variable_x: 83.00
variable_y: -45.00
variable_z: 15.00
gcode:

[tools_calibrate]
pin: ^!PF5
travel_speed: 20
spread: 7
lower_z: 1.0
# The speed (in mm/sec) to move tools down onto the probe
speed: 1.5
# The speed (in mm/sec) to retract between probes
lift_speed: 4
final_lift_z: 3
samples:5
samples_result: median # median, average
sample_retract_dist:1
samples_tolerance:0.02
samples_tolerance_retries:2
# Decrease -> higher nozzle
trigger_to_bottom_z: -0.00
