# Written by Justin F. Hallett

; Only define if you have a zswitch
;[gcode_macro _TOOLCHANGER_ZSWITCH]
;variable_x: 104.00 # X Position directly over switch
;variable_y: -66.00 # Y Position directly over switch
;gcode:


[gcode_macro _TOOLCHANGER_CLEAN_NOZZLE]
variable_start_x: 301
variable_start_y: -30
variable_start_z: 2.5
variable_wipe_dist: -40
variable_wipe_times: 6 
variable_wipe_speed: 200
variable_raise_distance: 10
variable_min_temp: 150
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}

  {% if printer["gcode_macro STATUS_CLEANING"] is defined %}
    STATUS_CLEANING
  {% endif %}
  RESPOND TYPE=echo MSG="Cleaning nozzle"
  {% set heater =  printer.toolhead.extruder %}
  {% set target_temp = printer[heater].target %}
  {% if target_temp < min_temp %}
    M104 S{min_temp}
  {% endif %}

  G90
  ## Move nozzle to start position
  G1 X{start_x + (wipe_dist/2)} Y{start_y} F12000
  TEMPERATURE_WAIT SENSOR={heater} MINIMUM={min_temp}

  {% if params.Z is defined %}
    {action_respond_info("Custom Z")}
    M117 Custom Z
    G1 Z{params.Z} F1500
  {% else %}
    G1 Z{start_z} F1500
  {% endif %}

  ## Wipe nozzle
  G1 X{start_x} F{wipe_speed * 60}
  {% for wipes in range(1, (wipe_times + 1)) %}
    G1 X{start_x + wipe_dist} F{wipe_speed * 60}
    G1 X{start_x} F{wipe_speed * 60}
  {% endfor %}

  ## Raise nozzle
  G1 Z{raise_distance}
  M104 S{target_temp}

  _MOVE_TO_CENTER
  {% if printer["gcode_macro STATUS_READY"] is defined %}
    STATUS_READY
  {% endif %}


[gcode_macro _TOOLCHANGER_HOMING_START]
gcode:
  {% if printer["gcode_macro STATUS_HOMING"] is defined %}
    STATUS_HOMING
  {% endif %}
  {% if printer["gcode_macro _KNOMI_STATUS"] is defined %}
    SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True
  {% endif %}


[gcode_macro _TOOLCHANGER_HOMING_END]
gcode:
  {% if printer["gcode_macro _KNOMI_STATUS"] is defined %}
    SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False
  {% endif %}
  {% if printer["gcode_macro STATUS_READY"] is defined %}
    STATUS_READY
  {% endif %}


[gcode_macro CLEAR_PAUSE]
rename_existing: BASE_CLEAR_PAUSE
gcode:
  _TOOLCHANGER_CLEAR_PAUSE
  BASE_CLEAR_PAUSE


[gcode_macro _TOOLCHANGER_CLEAR_PAUSE]
gcode:
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_RESUME VARIABLE=active_tool VALUE=-1
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_RESUME VARIABLE=tool_temps VALUE=[]
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=crashed VALUE=0


[gcode_macro _TOOLCHANGER_CRASH_RESUME]
variable_active_tool: -1
variable_tool_temps: []
gcode:
  {% if printer.pause_resume.is_paused and printer["gcode_macro _TOOLCHANGER_CRASH_PAUSE"].crashed > 0 %}
    M117 crashed... resuming
    INITIALIZE_TOOLCHANGER
    {% if printer.tool_probe_endstop.active_tool_number != active_tool %}
      T{active_tool}
    {% endif %}
    M117 sequential reheating
    {% for tool_nr in printer.toolchanger.tool_numbers %}
      M109 T{tool_nr} S{tool_temps[tool_nr]}
    {% endfor %}
    _TOOLCHANGER_CLEAR_PAUSE
    M117 resuming print
  {% else %}
    M117 not crashed
  {% endif %}


[gcode_macro _TOOLCHANGER_CRASH_PAUSE]
# if you have a custom RESUME gcode add (this assumes the rename is BASE_RESUME)
#  {% if printer["gcode_macro _TOOLCHANGER_CRASH_PAUSE"].crashed > 0 %}
#    _TOOLCHANGER_CRASH_RESUME
#  {% else %}
#    <your current macro gcode>
#  {% endif %}
#  BASE_RESUME
variable_crashed: 0
gcode:
  {% if not printer.pause_resume.is_paused and crashed == 0 %}
    {% set temps = [] %}
    M117 crashed... pausing
    SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=crashed VALUE=1
    SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_RESUME VARIABLE=active_tool VALUE={printer.tool_probe_endstop.active_tool_number}
    {% for tool_nr in printer.toolchanger.tool_numbers %}
      {% set toolname = printer.toolchanger.tool_names[tool_nr] %}
      {% set extruder = printer[toolname].extruder %}
      {% set temp = printer[extruder].target|default(0.0)|float %}
      {% set temps = temps.append(temp) %}
      M104 T{tool_nr} S0
    {% endfor %}
    SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_RESUME VARIABLE=tool_temps VALUE='{temps}'
    M117 paused
  {% else %}
    M117 printer already paused
  {% endif %}


[gcode_macro _TOOLCHANGER_TOOL_BEFORE_CHANGE]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  {% if printer["gcode_macro STATUS_BUSY"] is defined %}
    STATUS_BUSY T={tool.tool_number}
  {% endif %}
  #SET_TMC_CURRENT STEPPER=stepper_z CURRENT=2.0
  #SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=2.0
  #SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=2.0
  #SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=2.0
  _TOOL_BEFORE_CHANGE {rawparams}


[gcode_macro _TOOLCHANGER_TOOL_AFTER_CHANGE]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  #SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc5160 stepper_z'].run_current|float}
  #SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc5160 stepper_z1'].run_current|float}
  #SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={printer.configfile.settings['tmc5160 stepper_z2'].run_current|float}
  #SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={printer.configfile.settings['tmc5160 stepper_z3'].run_current|float}
  #G4 P500 ;M400 ??
  _TOOL_AFTER_CHANGE {rawparams}


[gcode_macro _TOOLCHANGER_TOOL_DROPOFF]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  ;SET_FILAMENT_SENSOR SENSOR=filament_sensor_T{tool.tool_number} ENABLE=0
  _TOOL_DROPOFF {rawparams}
  {% if printer["gcode_macro STATUS_READY"] is defined %}
    STATUS_READY T={tool.tool_number}
  {% endif %}


[gcode_macro _TOOLCHANGER_TOOL_PICKUP]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  {% if printer["gcode_macro STATUS_HEATING"] is defined %}
    STATUS_HEATING T={tool.tool_number}
  {% endif %}
  ;SET_FILAMENT_SENSOR SENSOR=filament_sensor_T{tool.tool_number} ENABLE=1
  _TOOL_PICKUP {rawparams}
  ;_TOOLCHANGER_CLEAN_NOZZLE
  {% if printer["gcode_macro STATUS_PRINTING"] is defined %}
    STATUS_PRINTING T={tool.tool_number}
  {% endif %}

[gcode_macro _TOOLCHANGER_DISABLE_FILAMENT_SENSORS]
gcode:
  {% set toolnames = printer.toolchanger.tool_names %}
  {% for toolname in toolnames %}
    SET_GCODE_VARIABLE MACRO={toolname[5:]} VARIABLE=active VALUE=0
  {% endfor %}
